<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FPT Polytechnic</title>
</head>
<body>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" th:value="${param.username}"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" th:value="${param.password}"><br>
        <button type="submit" formaction="/login/check">Login</button>
    </form>
    <h1 th:text="${message}"></h1>
</body>
</html>